window {
    background-color: rgba(15, 19, 32, 0.95);
    border: 2px solid #1DB954;
    border-radius: 15px;
}

#input {
    display: none;
}

#inner-box {
    margin: 5px;
}

#entry {
    padding: 10px;
    border-radius: 10px;
    color: #1DB954;
    background: transparent;
}

#entry:selected {
    background-color: #1DB954;
    color: #0f1320;
}

#text {
    font-weight: bold;
}
